@charset "ISO-8859-1";
div.Submit{
float: right;
  top:50%;
  background-color: #f2f2f2;
  padding: 2%;
  padding-right:5%;
	border: 2px solid black;
  border-radius: 15px 50px 30px;
  margin-bottom:50%;
}

fieldset{
	border: 0px solid black;
}